#landingGreeting{
    position: absolute;
    width: 742px;
    height: 215px;
    left: 364px;
    top: 197px;
    font-family: 'Pattaya';
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;

}

#landingIntroduction{
    position: absolute;
    width: 742px;
    height: 215px;
    left: 386px;
    top: 304px;
    font-family: Text Me One;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}

.btn-primary{
    width: 350px;
    height: 117px;
    mix-blend-mode: luminosity;
    background-color: gray;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF; 
}

#button1Landing {
    position: absolute;
    left: 379px;
    top: 464px;

}

#button2Landing{
    position: absolute;
    left: 814px;
    top: 464px;
}

#copyright{
    position: absolute;
    width: 419px;
    height: 28px;
    left: 620px;
    top: 725px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}

.mainpage{
    background-color:#A09D9D;
}

.landing{
    background-color: #434343;
}

.topnav {
    background-color: #A09D9D;
    overflow: hidden;
  }
  
.topnav a {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 42px;
    color: #FFFFFF;

  }


.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  #paragraph{
    position: absolute;
    width: 788px;
    height: 437px;
    left: 33px;
    top: 253px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 42px;
    
    color: #FFFFFF;

  }

  #headingAbout{
    position: absolute;
    width: 477px;
    height: 178px;
    left: 33px;
    top: 134px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
  }

  #profpic{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 1065px;
    top: 160px;
  }

  #linkedin{
    position: absolute;
    width: 34.5px;
    height: 33.5px;
    left: 625px;
    top: 670px;
    border-radius: 63px;
  }
  
  #gmail{
    position: absolute;
    width: 33px;
    height: 36px;
    left: 750px;
    top: 670px;  
  }

  #github{
    position: absolute;
    width: 41.5px;
    height: 41px;
    left: 875px;
    top: 670px;
  }

  .footer{
      top:300px;
  }

  #circleBlack {
    height: 40px;
    width: 40px;
    background-color: #000000;
    border-radius: 70%;
    margin-right: 29px;
    display: inline-block;
  }

#circleBlack2 {
  height: 125px;
  width: 125px;
  background-color: #000000;
  border-radius: 70%;
  margin-right: 100px;
  display: inline-block;
  }

  #circleWhite {
        height: 40px;
        width: 40px;
        background-color: #bbb;
        border-radius: 70%;
        margin-right: 29px;
        display: inline-block;
}

  #text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-top:70px;
    
  }

  .Main{
    margin-top:125px;
    margin-left:125px;
  }
  
  .skillset {
    position:absolute;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-left:55px;
  }

  .skillset2 {
    position:absolute;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-left:750px;
  }

  .python {
    position:absolute;
    margin-left:250px;
    margin-top:70px;
  }

  .education {
    position:absolute;
    margin-left:350px;
    margin-top:140px;
  }

  .java {
    position:absolute;
    margin-left:250px;
    margin-top:180px;
  }
  
  .Cpp {
    position:absolute;
    margin-left:250px;
    margin-top:290px;
  }

  .Eng {
    position:absolute;
    margin-left:250px;
    margin-top:400px;
  }

  .DatAn {
    position:absolute;
    margin-left:1050px;
    margin-top:70px;
  }

  .R {
    position:absolute;
    margin-left:1050px;
    margin-top:180px;
  }

  .Linux {
    position:absolute;
    margin-left:1050px;
    margin-top:290px;
  }

  .Jap {
    position:absolute;
    margin-left:250px;
    margin-top:510px;
  }
  
  .skills{
    left:125px;
    top:342px;
  }

  #SD{
    position:absolute;
    top:45px;
    left:50px;
    font-family: 'Roboto', sans-serif;
    color:#FFFFFF;
    font-size: 25px;
    font-weight: bold;
  }

  #SD-tex{
    position:absolute;
    top:145px;
    left:20px;
    font-family: 'Roboto', sans-serif;
    color:#FFFFFF;
    font-size: 25px;
    font-weight: bold;
  }

  #SMP{
    position:absolute;
    top:45px;
    left:275px;
    font-family: 'Roboto', sans-serif;
    color:#FFFFFF;
    font-size: 25px;
    font-weight: bold;
  }

  #SMP-tex{
    position:absolute;
    top:145px;
    left:250px;
    font-family: 'Roboto', sans-serif;
    color:#FFFFFF;
    font-size: 25px;
    font-weight: bold;
  }

  #SMA{
    position:absolute;
    top:45px;
    left:505px;
    font-family: 'Roboto', sans-serif;
    color:#FFFFFF;
    font-size: 25px;
    font-weight: bold;
  }

  #SMA-tex{
    position:absolute;
    top:145px;
    left:490px;
    font-family: 'Roboto', sans-serif;
    color:#FFFFFF;
    font-size: 25px;
    font-weight: bold;
  }

  #UI{
    position:absolute;
    top:45px;
    left:738px;
    font-family: 'Roboto', sans-serif;
    color:#FFFFFF;
    font-size: 25px;
    font-weight: bold;
  }

  #UI-tex{
    position:absolute;
    top:145px;
    left:740px;
    font-family: 'Roboto', sans-serif;
    color:#FFFFFF;
    font-size: 25px;
    font-weight: bold;
  }

  #heading{
    position: absolute;
    top:50px;
    left:90px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;

    color: #FFFFFF;

  }

  h3{
    position:absolute;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;

    color: #FFFFFF;
  }

  #firstHeading{
    left: 200px;
    top: 223px;
  }

  #secondHeading{
    left: 200px;
    top:382;
  }

  #firstParagraph{
    position: absolute;
    left: 257px;
    top: 286px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 40px;
    color: #FFFFFF;
  }

  #secondParagraph{
    position: absolute;
    left: 257px;
    top: 445px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 40px;
    color: #FFFFFF;
  }
  
  #address{
    position: absolute;
    left: 203px;
    top: 292px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 47px;
    color: #FFFEFE;
  }

  #phone{
    position: absolute;
    left: 203px;
    top: 392px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 47px;
    color: #FFFEFE;
  }

  .class li{
    display: inline-block;
    padding: 20px;
  }

  